name: Run Coverage

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  coverage:
    name: Run Coverage
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Install cargo nextest
        uses: taiki-e/install-action@nextest
      - name: Generate code coverage
        run: |
          mkdir coverage
          cargo llvm-cov nextest --no-report --profile ci
          cargo llvm-cov report --lcov --output-path ./coverage/lcov.info
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
