name: Rust Full Test Suite

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    name: Full Test Suite
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Check Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Install cargo nextest
        uses: taiki-e/install-action@nextest
      - name: Run Cargo test
        run: cargo nextest --profile ci-full
